body {
    background-image: url('../img/green_cup.png');
}

header {
    padding: 20px 0 5px;
    margin-left: -30px;
}

#outer-panel {
    background-image: url('../img/crossword.png');
    position: fixed;
    left: 50%;
    margin: -20px 0 0 -240px;
    padding-top: 20px;
    width: 480px;
    height: 100%;
}

#centre-panel {
    margin-left: auto;
    margin-right: auto;
    width: 333px;
}

.artwork {
    border: 0;
}
#contact{
    font-family: 'Cedarville Cursive', cursive;
    font-style: italic;
    font-size: 1.5em;
    color: rgb(81, 81, 81);
    text-align: center;
    padding-top: 45px;
}